@import "tailwindcss";

:root {
  --background: #f8f7fc;
  --foreground: #151d27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --font-hedvigserif: var(--font-hedvig-serif);
}

body {
  background: #f8f7fc;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
